* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: auto;
}

@media (max-width: 1020px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo {
  background: url(../img/navbar/logo.png) no-repeat;
  width: 110px;
  height: 36px;
}

.navbar__box-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.navbar__text {
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 11px;
  color: #44b2e5;
  padding-left: 20px;
  width: 193px;
}

.navbar__measurement {
  background: url(../img/navbar/measurement.png) no-repeat;
  width: 23px;
  height: 23px;
}

.navbar__btn {
  padding: 10px;
  border: 2px solid #55a831;
  border-radius: 10px;
  color: #55a831;
  background-color: transparent;
  width: 130px;
  height: 55px;
  margin: 15px 0;
}

.navbar__btn:hover {
  border: 3px solid #55a831;
  cursor: pointer;
}

.navbar__box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__span {
  text-transform: uppercase;
  text-align: left;
  padding-left: 10px;
  width: 55%;
  font-size: 10px;
  font-family: 'Open Sans Bold', sans-serif;
}

.navbar__box-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__icon-access_timequery_builderschedule:before {
  content: "\1f554";
}

.navbar__block {
  width: 104px;
  padding-left: 15px;
}

.navbar__daysWeek {
  font-size: 13px;
  font-family: 'Open Sans Regular', sans-serif;
}

.navbar__hours {
  font-size: 17px;
  font-family: 'Open Sans Semibold', sans-serif;
}

.navbar__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 0;
}

.navbar__icon-phone-call:before {
  content: "\1f4de";
}

.navbar__box-phone {
  width: 170px;
  padding-left: 10px;
}

.navbar__phone {
  font-size: 17px;
  font-family: 'Open Sans Bold', sans-serif;
  color: #333333;
  text-decoration: none;
}

.navbar__free-call {
  font-size: 12px;
  color: #0089cc;
  font-family: 'Open Sans Regular', sans-serif;
}

@media (max-width: 950px) {
  .navbar-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navbar__btn {
    display: none;
  }
  .navbar__box-days {
    display: none;
  }
}

@media (max-width: 620px) {
  .navbar__text {
    display: none;
  }
}

@media (max-width: 400px) {
  .navbar-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__logo {
    background: url(../img/navbar/logomedia.png) no-repeat;
    width: 90px;
    height: 29px;
  }
  .navbar__phone {
    font-size: 14px;
  }
  .navbar__free-call {
    font-size: 9px;
  }
}

@media (max-width: 360px) {
  .navbar__mobile {
    display: none;
  }
}

ul {
  list-style: none;
}

.bg-priceBalconies {
  background: url(../img/price/priceBalconies.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 512px;
}

.section {
  margin: 60px 0 80px;
}

.section-title {
  font-size: 25px;
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 550px) {
  .section-title {
    margin: auto;
    font-size: 22px;
    line-height: 1.7;
  }
}

@media (max-width: 410px) {
  .section-title {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .bg-priceBalconies {
    background-position: left;
  }
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/OpenSans-SemiBold.eot"), url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.eot"), url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.eot"), url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans Condensed Bold';
  src: url("../fonts/OpenSansCondensed-Bold.eot"), url("../fonts/OpenSansCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensed-Bold.woff") format("woff"), url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?3d9tzq");
  src: url("fonts/icomoon.eot?3d9tzq#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?3d9tzq") format("truetype"), url("fonts/icomoon.woff?3d9tzq") format("woff"), url("fonts/icomoon.svg?3d9tzq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__title {
  font-size: 21px;
}

.price__subtitle {
  font-size: 47px;
  padding-top: 30px;
}

.price__item {
  padding-top: 90px;
  font-family: 'Open Sans Bold', sans-serif;
}

.price__disk {
  border: 1px solid #0d8fe3;
  border-radius: 50%;
  background-color: #0d8fe3;
  width: 82px;
  height: 82px;
}

.price__img_1 {
  background: url(../img/price/img_1.png) no-repeat;
  width: 33px;
  height: 41px;
  margin: -14px 24px;
}

.price__img_2 {
  background: url(../img/price/img_2.png) no-repeat;
  width: 33px;
  height: 38px;
  margin: -13px 20px;
}

.price__img_3 {
  background: url(../img/price/img_3.png) no-repeat;
  width: 33px;
  height: 35px;
  margin: -10px 24px;
}

.price__img_4 {
  background: url(../img/price/img_4.png) no-repeat;
  width: 33px;
  height: 28px;
  margin: -8px 23px;
}

.price__text {
  font-size: 11px;
  font-family: 'Open Sans Condensed Bold', sans-serif;
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.price__boxitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 110px 0 80px;
}

.price__block_2 {
  width: 270px;
  height: 345px;
  background-color: #fff;
  margin-top: 80px;
  border-radius: 10px;
}

.price__form-box {
  text-align: center;
  padding: 35px 0;
}

.price__recordingbox {
  font-size: 15px;
  font-family: 'Open Sans Bold', sans-serif;
  line-height: 25px;
  padding-bottom: 10px;
}

.price__recording {
  font-size: 18px;
}

.price__form {
  border-radius: 10px;
  padding: 14px;
  text-align: center;
  margin-top: 14px;
  font-size: 10px;
  width: 75%;
  font-family: 'Open Sans Regular', sans-serif;
  border: 1px solid #d7d7d7;
  outline: none;
}

.price__yourdata {
  font-size: 8px;
  font-family: 'Open Sans Regular', sans-serif;
  padding-top: 10px;
  color: #c2c2c2;
}

.price__btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffeb25), to(#ffb803));
  background: linear-gradient(to bottom, #ffeb25, #ffb803);
  padding: 18px 28px;
  border-radius: 10px;
  margin-top: 14px;
  text-transform: uppercase;
  font-size: 15px;
  border: 1px solid #ffc600;
  font-family: 'Open Sans Condensed Bold', sans-serif;
}

.price__btn:hover {
  border: 2px solid #ffc600;
  cursor: pointer;
}

@media (max-width: 958px) {
  .price__title {
    font-size: 18px;
  }
  .price__subtitle {
    font-size: 38px;
  }
  .price__disk {
    width: 70px;
    height: 70px;
  }
  .price__img_1 {
    margin: -14px 18px;
  }
  .price__img_2 {
    margin: -15px 17px;
  }
  .price__img_3 {
    margin: -12px 18px;
  }
  .price__img_4 {
    margin: -8px 18px;
  }
}

@media (max-width: 920px) {
  .price__title {
    font-size: 16px;
  }
  .price__subtitle {
    font-size: 33px;
  }
  .price__block_2 {
    width: 220px;
    height: 330px;
    margin-top: 90px;
  }
  .price__btn {
    padding: 15px 10px;
  }
  .price__recordingbox {
    font-size: 13px;
  }
  .price__recording {
    font-size: 15px;
  }
  .price__boxitem {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 200px;
    padding: 70px 0;
    margin: auto;
  }
  .price__img {
    margin-top: 30px;
  }
}

@media (max-width: 820px) {
  .price__block_1 {
    display: none;
  }
}

@media (max-width: 320px) {
  .price__block_2 {
    margin: 90px auto;
  }
}

.glazing__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 80px;
}

.glazing__item {
  width: 130px;
  text-align: center;
}

.glazing__description {
  font-size: 14px;
  line-height: 1.44;
  font-family: 'Open Sans Semibold', sans-serif;
  padding-top: 15px;
  color: #249ae6;
  text-decoration: underline;
}

.glazing__description:hover, .glazing__description:active {
  color: #464646;
  text-decoration: none;
}

.glazing__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}

.glazing__block-1 {
  width: 500px;
  height: 640px;
  border-top: 4px solid #0d8fe3;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8f4fc), to(#fff));
  background: linear-gradient(to bottom, #e8f4fc, #fff);
}

.glazing__block-2 {
  width: 500px;
  height: 640px;
  border-top: 4px solid #ffb903;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff8e7), to(#fff));
  background: linear-gradient(to bottom, #fff8e7, #fff);
}

.glazing__triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin: auto;
}

.glazing__triangle-down-1 {
  border-top: 10px solid #0d8fe3;
}

.glazing__triangle-down-2 {
  border-top: 10px solid #ffb903;
}

.glazing__title-1, .glazing__title-2 {
  font-size: 15px;
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
  padding: 20px 0 30px;
}

.glazing__title-2 {
  color: #ffb903;
}

.glazing__title-1 {
  color: #0d8fe3;
}

.glazing__box-item {
  text-align: center;
}

.glazing__list {
  padding-top: 34px;
}

.glazing__list-item {
  font-size: 12px;
  font-family: 'Open Sans Regular', sans-serif;
  line-height: 2;
  padding-left: 15px;
}

.glazing__icon {
  text-align: center;
  width: 18px;
  height: 18px;
  border-radius: 30px;
  background-color: #e8e8e8;
  text-decoration: none;
}

.glazing__icon-done:before {
  content: "\1f5f8";
}

.glazing__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glazing__price {
  font-size: 15px;
  font-family: 'Open Sans Bold', sans-serif;
}

.glazing__turnkey {
  font-size: 10px;
  font-family: 'Open Sans Regular', sans-serif;
  padding-top: 10px;
}

.glazing__btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffeb25), to(#ffb803));
  background: linear-gradient(to bottom, #ffeb25, #ffb803);
  padding: 15px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #ffc600;
  font-family: 'Open Sans Condensed Bold', sans-serif;
}

.glazing__btn:hover {
  border: 2px solid #ffc600;
  cursor: pointer;
}

.glazing__box-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 415px;
  margin: auto;
  padding-top: 40px;
}

@media (max-width: 660px) {
  .glazing__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 500px;
    margin: auto;
    padding-top: 0;
  }
  .glazing__item {
    padding-top: 50px;
  }
}

@media (max-width: 550px) {
  .glazing__block {
    width: 380px;
  }
}

@media (max-width: 410px) {
  .glazing__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 130px;
  }
}

@media (max-width: 976px) {
  .glazing__img1, .glazing__img2 {
    width: 380px;
  }
  .glazing__box-price {
    width: 380px;
  }
}

@media (max-width: 920px) {
  .glazing__img1, .glazing__img2 {
    width: 340px;
  }
  .glazing__box-price {
    width: 340px;
  }
  .glazing__list-item {
    font-size: 10px;
    line-height: 2.5;
  }
}

@media (max-width: 830px) {
  .glazing__img1, .glazing__img2 {
    width: 310px;
  }
  .glazing__box-price {
    width: 310px;
  }
  .glazing__btn {
    font-size: 10px;
    padding: 13px;
  }
  .glazing__list-item {
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  .glazing__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .glazing__block-1, .glazing__block-2 {
    width: 430px;
    height: 550px;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .glazing__block-1, .glazing__block-2 {
    width: 360px;
  }
}

@media (max-width: 420px) {
  .glazing__img1, .glazing__img2 {
    width: 270px;
  }
  .glazing__box-price {
    width: 270px;
  }
  .glazing__block-1, .glazing__block-2 {
    width: 320px;
    height: 510px;
  }
}

@media (max-width: 382px) {
  .glazing__img1, .glazing__img2 {
    width: 220px;
  }
  .glazing__box-price {
    width: 230px;
    padding-top: 20px;
  }
  .glazing__block-1, .glazing__block-2 {
    width: 300px;
  }
  .glazing__price {
    font-size: 12px;
  }
  .glazing__turnkey {
    font-size: 10px;
  }
  .glazing__list-item {
    font-size: 7px;
    line-height: 3.5;
  }
  .glazing__box-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .glazing__price-item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 355px) {
  .glazing__block-1, .glazing__block-2 {
    width: 260px;
  }
  .glazing__block-2 {
    height: 540px;
  }
}
/*# sourceMappingURL=style.css.map */