.navbar
  &-wrap
    display: flex
    justify-content: space-between
  &__logo
    background: url(../img/navbar/logo.png) no-repeat
    width: 110px
    height: 36px
  &__logo:hover
    transform: scale(1.2)
  &__box-logo
    display: flex
    align-items: center
    padding: 25px 0
  &__text
    font-family: 'Open Sans Regular', sans-serif
    font-size: 11px
    color: #44b2e5
    padding-left: 20px
    width: 193px
  &__measurement
    background: url(../img/navbar/measurement.png) no-repeat
    width: 23px
    height: 23px
  &__btn
    padding: 10px
    border: 2px solid #55a831
    border-radius: 10px
    color: #55a831
    background-color: transparent
    width: 130px
    height: 50px
    margin: 19px 0
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6)
    transition: all .5s
    outline: none
  &__btn:hover
    transform: translateY(3px)
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6)
    cursor: pointer
  &__box-btn
    display: flex
    align-items: center
  &__span
    text-transform: uppercase
    text-align: left
    padding-left: 10px
    width: 55%
    font-size: 10px
    font-family: 'Open Sans Bold', sans-serif
  &__box-days
    display: flex
    padding: 28px 0
    align-items: center
  &__icon-access_timequery_builderschedule:before
    content: "\1f554"
  &__block
    width: 104px
    padding-left: 15px
  &__daysWeek
    font-size: 13px
    font-family: 'Open Sans Regular', sans-serif
  &__hours
    font-size: 17px
    font-family: 'Open Sans Semibold', sans-serif
  &__mobile
    display: flex
    padding: 22px 0
  &__icon-phone-call:before 
    content: "\1f4de"
  &__box-phone
    width: 170px
    padding-left: 10px
  &__phone
    font-size: 17px
    font-family: 'Open Sans Bold', sans-serif
    color: #333333
    text-decoration: none
  &__free-call
    font-size: 12px
    font-family: 'Open Sans Regular', sans-serif
    text-decoration: none
  &__free-call:hover
    color: #0d8fe3
    text-decoration: underline
@media (max-width: 950px)
  .navbar
    &-wrap
      justify-content: space-around
    &__box-days
      display: none
@media (max-width: 757px)
  .navbar
    &__text
      display: none
@media (max-width: 600px)
  .navbar
    &__mobile
      display: none
@media (max-width: 400px)     
  .navbar
    &-wrap
      justify-content: space-between
    &__logo
      background: url(../img/navbar/logomedia.png) no-repeat
      width: 90px
      height: 29px
    &__btn
      width: 120px
      height: 43px
    &__span
      font-size: 9px



      
     




    

