.price
  &__box
    display: flex
    justify-content: space-between
  &__title
    font-size: 21px
  &__subtitle
    font-size: 47px
    padding-top: 30px
  &__item
    padding-top: 90px
    font-family: 'Open Sans Bold', sans-serif
  &__disk
    border: 1px solid #0d8fe3
    border-radius: 50%
    background-color: #0d8fe3
    width: 82px
    height: 82px
  &__img_1
    background: url(../img/price/img_1.png) no-repeat
    width: 33px
    height: 41px
    margin: -14px 24px
  &__img_2
    background: url(../img/price/img_2.png) no-repeat
    width: 33px
    height: 38px
    margin: -13px 20px
  &__img_3
    background: url(../img/price/img_3.png) no-repeat
    width: 33px
    height: 35px
    margin: -10px 24px
  &__img_4
    background: url(../img/price/img_4.png) no-repeat
    width: 33px
    height: 28px
    margin: -8px 23px
  &__text
    font-size: 11px
    font-family: 'Open Sans Condensed Bold', sans-serif
    color: #ffffff
    margin-top: 20px
    text-align: center
    text-transform: uppercase
  &__boxitem
    display: flex
    justify-content: space-between
    padding: 110px 0 80px
@media (max-width: 958px) 
  .price
    &__title
      font-size: 18px    
    &__subtitle
      font-size: 38px
    &__disk
      width: 70px
      height: 70px
    &__img_1
      margin: -14px 18px
    &__img_2
      margin: -15px 17px
    &__img_3
      margin: -12px 18px
    &__img_4
      margin: -8px 18px
@media (max-width: 920px) 
  .price 
    &__title
      font-size: 16px    
    &__subtitle
      font-size: 33px
    &__boxitem
      flex-wrap: wrap
      width: 200px
      padding: 70px 0
      margin: auto
    &__img
      margin-top: 30px
@media (max-width: 770px)
  .price
    &__title
      font-size: 14px    
    &__subtitle
      font-size: 29px

      









    
