.price
  &__box
    display: flex
    justify-content: space-between
  &__title
    font-size: 21px
  &__subtitle
    font-size: 47px
    padding-top: 30px
  &__item
    padding-top: 90px
    font-family: 'Open Sans Bold', sans-serif
  &__disk
    border: 1px solid #0d8fe3
    border-radius: 50%
    background-color: #0d8fe3
    width: 82px
    height: 82px
  &__img_1
    background: url(../img/price/img_1.png) no-repeat
    width: 33px
    height: 41px
    margin: -14px 24px
  &__img_2
    background: url(../img/price/img_2.png) no-repeat
    width: 33px
    height: 38px
    margin: -13px 20px
  &__img_3
    background: url(../img/price/img_3.png) no-repeat
    width: 33px
    height: 35px
    margin: -10px 24px
  &__img_4
    background: url(../img/price/img_4.png) no-repeat
    width: 33px
    height: 28px
    margin: -8px 23px
  &__text
    font-size: 11px
    font-family: 'Open Sans Condensed Bold', sans-serif
    color: #ffffff
    margin-top: 20px
    text-align: center
    text-transform: uppercase
  &__boxitem
    display: flex
    justify-content: space-between
    padding: 110px 0 80px
  &__block_2
    width: 270px
    height: 345px
    background-color: #fff
    margin-top: 80px
    border-radius: 10px
  &__form-box
    text-align: center
    padding: 35px 0
  &__recordingbox
    font-size: 15px
    font-family: 'Open Sans Bold', sans-serif
    line-height: 25px
    padding-bottom: 10px
  &__recording
    font-size: 18px
  &__form
    border-radius: 10px
    padding: 14px
    text-align: center
    margin-top: 14px
    font-size: 10px
    width: 75%
    font-family: 'Open Sans Regular', sans-serif
    border: 1px solid #d7d7d7
    outline: none
  &__yourdata
    font-size: 8px
    font-family: 'Open Sans Regular', sans-serif
    padding-top: 10px
    color: #c2c2c2
  &__btn
    background: linear-gradient(to bottom, #ffeb25, #ffb803)
    padding: 18px 28px
    border-radius: 10px
    margin-top: 14px
    text-transform: uppercase
    font-size: 15px
    border: 1px solid #ffc600
    font-family: 'Open Sans Condensed Bold', sans-serif
  &__btn:hover
    border: 2px solid #ffc600
    cursor: pointer
@media (max-width: 958px) 
  .price
    &__title
      font-size: 18px    
    &__subtitle
      font-size: 38px
    &__disk
      width: 70px
      height: 70px
    &__img_1
      margin: -14px 18px
    &__img_2
      margin: -15px 17px
    &__img_3
      margin: -12px 18px
    &__img_4
      margin: -8px 18px
@media (max-width: 920px) 
  .price 
    &__title
      font-size: 16px    
    &__subtitle
      font-size: 33px
    &__block_2
      width: 220px
      height: 330px
      margin-top: 90px
    &__btn
      padding: 15px 10px
    &__recordingbox
      font-size: 13px
    &__recording
      font-size: 15px
    &__boxitem
      flex-wrap: wrap
      width: 200px
      padding: 70px 0
      margin: auto
    &__img
      margin-top: 30px
@media (max-width: 820px)
  .price
    &__block_1
      display: none
@media (max-width: 320px)  
  .price
    &__block_2
      margin: 90px auto
      









    
